.product-container {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  margin: 40px auto;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  color: #222;
}
.product-image {
  flex: 1;
}
.product-image img {
  width: 350px;
  object-fit: cover;
  margin-left: 150px;
  margin-top: 10px;
}
.product-details {
  flex: 1;
}
.product-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product-price {
  font-size: 22px;
  font-weight: 600;
  color: #d33;
}
.product-oldprice {
  text-decoration: line-through;
  color: #777;
  font-size: 18px;
  margin-left: 8px;
}
.add-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.add-cart button {
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.add-cart button:hover {
  background-color: #c62828;
}
.qty {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
.qty button {
  background: none;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 16px;
}
.qty input {
  width: 40px;
  text-align: center;
  border: none;
  outline: none;
}
.availability,
.colors,
.sizes {
  margin: 12px 0;
  font-size: 15px;
}
.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px 5px 0 10px;
  border: 1px solid #aaa;
  cursor: pointer;
  vertical-align: middle;
}
.color-brown {
  background-color: #b87333;
}
.color-red {
  background-color: #b71c1c;
}
.sizes span {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 6px 10px;
  margin-right: 1px;
  margin-left: 10px;
  margin-top: 3px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.sizes span:hover {
  background-color: #222;
  color: white;
}
.description {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.description h3 {
  margin-bottom: 10px;
  font-weight: 600;
}
.description p {
  color: #555;
  line-height: 1.6;
  font-size: 14px;
}
