.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin: 60px auto;
  user-select: none;
}
.page-number {
  font-size: 18px;
  color: #444;
  text-decoration: none;
  padding: 4px 6px;
  transition: 0.2s ease;
}
.page-number:hover {
  color: #000;
  transform: translateY(-2px);
}
.page-number.active {
  font-weight: bold;
  color: #000;
  position: relative;
}
.page-number.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}
.arrow-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  color: #444;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.arrow-btn:hover {
  background-color: #ececec;
  transform: translateY(-2px);
}
.arrow-btn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.arrow-btn::after {
  content: none !important;
}
